@import '../../utils/vars';

:host {
    position: relative;
    justify-content: flex-start;
    display: flex;
    flex-direction: row;

    >>> .ct-series-a .ct-slice-pie {
        fill: $color-primary-0;
    }
    >>> .ct-series-b .ct-slice-pie {
        fill: $color-primary-1;
    }
    >>> .ct-series-c .ct-slice-pie {
        fill: $color-primary-2;
    }
    >>> .ct-series-d .ct-slice-pie {
        fill: $color-primary-3;
    }
    >>> .ct-series-e .ct-slice-pie {
        fill: $color-primary-4;
    }
    >>> .ct-series-f .ct-slice-pie {
        fill: $color-secondary-1-0;
    }
    >>> .ct-series-g .ct-slice-pie {
        fill: $color-secondary-1-1;
    }
    >>> .ct-series-h .ct-slice-pie {
        fill: $color-secondary-1-2;
    }
    >>> .ct-series-i .ct-slice-pie {
        fill: $color-secondary-1-3;
    }
    >>> .ct-series-j .ct-slice-pie {
        fill: $color-secondary-1-4;
    }
    >>> .ct-series-k .ct-slice-pie {
        fill: $color-secondary-2-0;
    }
    >>> .ct-series-l .ct-slice-pie {
        fill: $color-secondary-2-1;
    }
    >>> .ct-series-m .ct-slice-pie {
        fill: $color-secondary-2-2;
    }
    >>> .ct-series-n .ct-slice-pie {
        fill: $color-secondary-2-3;
    }
    >>> .ct-series-o .ct-slice-pie {
        fill: $color-secondary-2-4;
    }
    >>> .ct-series-p .ct-slice-pie {
        fill: $color-complement-0;
    }
    >>> .ct-series-q .ct-slice-pie {
        fill: $color-complement-1;
    }
    >>> .ct-series-r .ct-slice-pie {
        fill: $color-complement-2;
    }
    >>> .ct-series-s .ct-slice-pie {
        fill: $color-complement-3;
    }
    >>> .ct-series-t .ct-slice-pie {
        fill: $color-complement-4;
    }

    ul {
        padding: 0;
        min-width: 90px;

        > li {
            position: relative;
            display: flex;
            align-items: center;

            > svg {
                margin-right: 5px;
            }
        }
    }

    >>> svg {
        .ct-label {
            color: #000000;
            fill: #000000;
        }
    }
}
