.my-element {
  display: inline-block;
  padding: 10px 20px;
  border-radius: 2px;
  background: #31a6ce;
  font-size: 14px;
  color: #ffffff;
  cursor: pointer;
  &:hover {
    background: #ad75c7;
  }
}