article
    h1.doc-head Dropdown (#[.hl bt-dropdown])
    p Dropdown component not ready!
    h2 Inputs:
    ul
        li #[.hl name] - #[.hl name] attribute , #[.hl1 string];
        li #[.hl color] - #[.hl color] attribute , #[.hl1 string];
        li #[.hl disabled] - #[.hl disabled] attribute , #[.hl1 boolean];
        li #[.hl items] - #[.hl items] attribute , #[.hl1 array];
    h2 Outputs:
    ul
        li #[.hl state] - emits value;
    h2 Example usage:
    bt-checkbox([checked]="true") I'm checked
