@import "./../../utils/vars.scss";

:host {
    #overlay {
        position: fixed;
        top: 0;
        left: 0;
        height: 100vh;
        width: 100vw;
        z-index: 200000;
        background: rgba(0, 0, 0, .3);
        display: flex;
        align-items: center;
        justify-content: center;

        & > .container {
            position: relative;
            background: $bDefault;
            border: 1px solid darken($bDefault, 10);
            border-radius: 2px;
            display: flex;
            flex-direction: column;

            width: 400px;
            height: 150px;

            & > .modal-close {
                position: absolute;
                top: 13px;
                right: 10px;
                cursor: pointer;

                & > svg {
                    fill: $bDark;
                    transition: fill .2s;
                }

                &:hover {
                    & > svg {
                        fill: $bPrimary;
                    }
                }
            }

            & >>> .modal-title {
                height: 50px;
                width: 100%;
                display: flex;
                align-items: center;
                background: darken($bDefault, 5);
                border-bottom: 1px solid darken($bDefault, 10);
                font-size: 20px;
                padding: 0 10px;
            }

            & >>> .modal-content {
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                padding: 10px;
                flex-grow: 1;

                & > .modal-text {
                    margin: auto;
                    text-align: center;
                    font-size: 16px;
                }

                & > .modal-buttons {
                    display: flex;
                    margin-top: auto;
                    justify-content: space-between;

                    & > bt-button {
                        flex-grow: 1;
                        margin: 0 3px;
                    }
                }
            }
        }
    }
}
