.header("[ngClass]"="tabsPosition")
    h1("*ngIf"="title") {{title}}
    ng-content(select=".before-tabs")
    ul
        li("*ngFor"="let tab of tabs", "(click)"="onTabSelect(tab)", "[class.active]"="tab.active") {{ tab.title }}
    ng-content(select=".after-tabs")

ng-content("select"=".tabs")
